attrs>=21.1.0
blis>=0.7.0
certifi>=2021.10.8
chardet>=4.0.0
cymem>=2.0.5
docx2txt>=0.8
idna>=3.0
jsonschema>=4.0.0
murmurhash>=1.0.5
nltk>=3.6.0
numpy>=1.21.0
pandas>=1.3.0
pdfminer.six>=20211012
plac>=1.3.0
preshed>=3.0.0
pycryptodome>=3.12.0
pyrsistent>=0.18.0
python-dateutil>=2.8.0
pytz>=2021.3
requests>=2.27.0
six>=1.16.0
sortedcontainers>=2.4.0
spacy>=3.0.0
srsly>=2.4.0
thinc>=8.0.0
tqdm>=4.62.0
urllib3>=1.26.0
wasabi>=0.8.0
setuptools>=60.0.0